@model PeopleProTraining.Dal.Models.Department

<p id="NameError" class="text-danger">@Html.ValidationMessageFor(m => m.DepartmentName)</p>
<p id="IdError" class="text-danger">@Html.ValidationMessageFor(m => m.DepartmentId)</p>
